:root {
  --white-color: white;
  --red-color: #ff0000;
  --black-color: black;
  --gray-color: #696969;
  --dark-gray-color: #222222;
  --light-gray-color: #ececec;
}

* {
  padding: 0;
  margin: 0;
}

.header {
  height: 82px;
}

.header .logo {
  place-self: center;
}

.header .menuAction .menuAction-item {
  margin-left: 50px;
  height: 100%;
}

.header .menuAction .menuAction-item .btn {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  font-weight: bold;
  font-size: 17px;
  color: var(--gray-color);
}

.header .menuAction .menuAction-item .btn:hover {
  color: var(--dark-gray-color);
}

.header .menuFunction .menuFunction-item {
  margin-left: 2rem;
  place-self: center;
}

.header .menuFunction .menuFunction-item a {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  color: var(--gray-color);
}

.header .menuFunction .menuFunction-item a:hover {
  color: var(--dark-gray-color);
}

.header-repository {
  place-items: center;
  width: 100%;
  height: 75px;
  -webkit-box-shadow: 0px -2px 0px -1px inset #eee;
          box-shadow: 0px -2px 0px -1px inset #eee;
}

.header-repository .bar1,
.header-repository .bar2,
.header-repository .bar3 {
  width: 35px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-repository .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.header-repository .change .bar2 {
  opacity: 0;
}

.header-repository .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header-repository .menuFunction .menuFunction-item {
  margin-left: 2rem;
  place-self: center;
}

.header-repository .menuFunction .menuFunction-item a {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  color: var(--gray-color);
}

.header-repository .menuFunction .menuFunction-item a:hover {
  color: var(--dark-gray-color);
}

.slide-home {
  padding: 0;
}

.slide-home .carousel-indicators .active {
  background-color: var(--red-color);
}

.products {
  width: 100%;
  background-color: var(--dark-gray-color);
  padding: 5px;
}

.products .product-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .product-item .product-item-img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  padding-left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.products .product-item .product-item-img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.products .product-item .product-item-text {
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 10%;
}

.banner img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.banner img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.service {
  margin: 0;
}

.service .service-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .service-link .service-head {
  text-align: center;
  position: absolute;
}

.service .service-link .service-head .service-icon {
  width: 20%;
}

.service .service-link .service-head h3,
.service .service-link .service-head p {
  font-size: 20px;
  color: black;
}

.service .service-link:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.related {
  margin: 0;
}

.related .related-link {
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.related .related-link h3 {
  font-size: 20px;
}

.related .related-link .related__title {
  position: absolute;
  color: black;
}

.related .related-link:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.break-line {
  border-top: var(--light-gray-color) solid 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer footer-head {
  border-top: var(--light-gray-color) solid 1px;
}

footer ul {
  color: var(--gray-color);
  list-style: none;
}

footer ul li {
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

footer ul li:hover {
  text-decoration: underline;
}

footer ul .heading {
  font-weight: bold;
  margin-bottom: 20px;
}

footer .footer-item .copyright {
  font-size: 13px;
}

footer .footer-item .copyright img {
  width: 50px;
  height: 15px;
}

footer .footer-item .contact ul {
  margin-left: auto;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

footer .footer-item .contact ul li {
  font-size: 13px;
}

.footer-repository .accordion-item {
  border: none;
}

.footer-repository .accordion-item .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-repository .accordion-item .accordion-button:not(.collapsed) {
  background-color: var(--red-color);
  color: var(--white-color);
}

.footer-repository .accordion-item .accordion-button:not(.collapsed)::after {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
/*# sourceMappingURL=style-index.css.map */